@font-face {
	font-family: 'oxanium';
	src: url('src/assets/fonts/oxanium/oxanium-light-webfont.woff2') format('woff2');
	font-weight: 100 300;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'oxanium';
	src: url('src/assets/fonts/oxanium/oxanium-regular-webfont.woff2') format('woff2');
	font-weight: 400 600;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'oxanium';
	src: url('src/assets/fonts/oxanium/oxanium-bold-webfont.woff2') format('woff2');
	font-weight: 700 900;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'teko';
	src: url('src/assets/fonts/teko/teko-light-webfont.woff') format('woff');
	font-weight: 100 300;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'teko';
	src: url('src/assets/fonts/teko/teko-regular-webfont.woff') format('woff');
	font-weight: 400 600;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'teko';
	src: url('src/assets/fonts/teko/teko-bold-webfont.woff') format('woff');
	font-weight: 700 900;
	font-style: normal;
	font-display: block;
}

@import 'tailwindcss';

@theme {
	/* LCARS color */
	--A-hue: 21.5;
	--B-hue: 47;
	--C-hue: 65;
	--D-hue: 282;
	--E-hue: 326;
	--F-hue: 155;

	/* Lightness values */
	--50-l: 99%;
	--100-l: 90%;
	--200-l: 80%;
	--300-l: 69%;
	--400-l: 61%;
	--500-l: 45%;
	--600-l: 31%;
	--700-l: 20%;
	--800-l: 9%;
	--900-l: 5%;

	/* Chroma values */
	--50-s: 0.05;
	--100-s: 0.1;
	--200-s: 0.19;
	--300-s: 0.25;
	--400-s: 0.3;
	--500-s: 0.23;
	--600-s: 0.2;
	--700-s: 0.2;
	--800-s: 0.18;
	--900-s: 0.11;

	--color-A-50: oklch(var(--50-l) var(--50-s) var(--A-hue));
	--color-A-100: oklch(var(--100-l) var(--100-s) var(--A-hue));
	--color-A-200: oklch(var(--200-l) var(--200-s) var(--A-hue));
	--color-A-300: oklch(var(--300-l) var(--300-s) var(--A-hue));
	--color-A-400: oklch(var(--400-l) var(--400-s) var(--A-hue));
	--color-A-500: oklch(var(--500-l) var(--500-s) var(--A-hue));
	--color-A-600: oklch(var(--600-l) var(--600-s) var(--A-hue));
	--color-A-700: oklch(var(--700-l) var(--700-s) var(--A-hue));
	--color-A-800: oklch(var(--800-l) var(--800-s) var(--A-hue));
	--color-A-900: oklch(var(--900-l) var(--900-s) var(--A-hue));
	--color-B-50: oklch(var(--50-l) var(--50-s) var(--B-hue));
	--color-B-100: oklch(var(--100-l) var(--100-s) var(--B-hue));
	--color-B-200: oklch(var(--200-l) var(--200-s) var(--B-hue));
	--color-B-300: oklch(var(--300-l) var(--300-s) var(--B-hue));
	--color-B-400: oklch(var(--400-l) var(--400-s) var(--B-hue));
	--color-B-500: oklch(var(--500-l) var(--500-s) var(--B-hue));
	--color-B-600: oklch(var(--600-l) var(--600-s) var(--B-hue));
	--color-B-700: oklch(var(--700-l) var(--700-s) var(--B-hue));
	--color-B-800: oklch(var(--800-l) var(--800-s) var(--B-hue));
	--color-B-900: oklch(var(--900-l) var(--900-s) var(--B-hue));
	--color-C-50: oklch(var(--50-l) var(--50-s) var(--C-hue));
	--color-C-100: oklch(var(--100-l) var(--100-s) var(--C-hue));
	--color-C-200: oklch(var(--200-l) var(--200-s) var(--C-hue));
	--color-C-300: oklch(var(--300-l) var(--300-s) var(--C-hue));
	--color-C-400: oklch(var(--400-l) var(--400-s) var(--C-hue));
	--color-C-500: oklch(var(--500-l) var(--500-s) var(--C-hue));
	--color-C-600: oklch(var(--600-l) var(--600-s) var(--C-hue));
	--color-C-700: oklch(var(--700-l) var(--700-s) var(--C-hue));
	--color-C-800: oklch(var(--800-l) var(--800-s) var(--C-hue));
	--color-C-900: oklch(var(--900-l) var(--900-s) var(--C-hue));
	--color-D-50: oklch(var(--50-l) var(--50-s) var(--D-hue));
	--color-D-100: oklch(var(--100-l) var(--100-s) var(--D-hue));
	--color-D-200: oklch(var(--200-l) var(--200-s) var(--D-hue));
	--color-D-300: oklch(var(--300-l) var(--300-s) var(--D-hue));
	--color-D-400: oklch(var(--400-l) var(--400-s) var(--D-hue));
	--color-D-500: oklch(var(--500-l) var(--500-s) var(--D-hue));
	--color-D-600: oklch(var(--600-l) var(--600-s) var(--D-hue));
	--color-D-700: oklch(var(--700-l) var(--700-s) var(--D-hue));
	--color-D-800: oklch(var(--800-l) var(--800-s) var(--D-hue));
	--color-D-900: oklch(var(--900-l) var(--900-s) var(--D-hue));
	--color-E-50: oklch(var(--50-l) var(--50-s) var(--E-hue));
	--color-E-100: oklch(var(--100-l) var(--100-s) var(--E-hue));
	--color-E-200: oklch(var(--200-l) var(--200-s) var(--E-hue));
	--color-E-300: oklch(var(--300-l) var(--300-s) var(--E-hue));
	--color-E-400: oklch(var(--400-l) var(--400-s) var(--E-hue));
	--color-E-500: oklch(var(--500-l) var(--500-s) var(--E-hue));
	--color-E-600: oklch(var(--600-l) var(--600-s) var(--E-hue));
	--color-E-700: oklch(var(--700-l) var(--700-s) var(--E-hue));
	--color-E-800: oklch(var(--800-l) var(--800-s) var(--E-hue));
	--color-E-900: oklch(var(--900-l) var(--900-s) var(--E-hue));
	--color-F-50: oklch(var(--50-l) var(--50-s) var(--F-hue));
	--color-F-100: oklch(var(--100-l) var(--100-s) var(--F-hue));
	--color-F-200: oklch(var(--200-l) var(--200-s) var(--F-hue));
	--color-F-300: oklch(var(--300-l) var(--300-s) var(--F-hue));
	--color-F-400: oklch(var(--400-l) var(--400-s) var(--F-hue));
	--color-F-500: oklch(var(--500-l) var(--500-s) var(--F-hue));
	--color-F-600: oklch(var(--600-l) var(--600-s) var(--F-hue));
	--color-F-700: oklch(var(--700-l) var(--700-s) var(--F-hue));
	--color-F-800: oklch(var(--800-l) var(--800-s) var(--F-hue));
	--color-F-900: oklch(var(--900-l) var(--900-s) var(--F-hue));

	--color-A: var(--color-A-200);
	--color-B: var(--color-B-200);
	--color-C: var(--color-C-200);
	--color-D: var(--color-D-200);
	--color-E: var(--color-E-200);
	--color-F: var(--color-F-200);
	--color-white: var(--color-F-100);
	--color-black: var(--color-A-900);

	--font-oxanium: oxanium, 'sans-serif';
	--font-teko: teko, 'sans-serif';
}

html,
body {
	@apply w-full h-full bg-black text-white scroll-smooth overflow-hidden font-oxanium font-light tracking-widest leading-6;
}

@utility page-title {
	@apply text-5xl md:text-7xl xl:text-[8rem] uppercase font-teko tracking-[0.7rem];
}

@layer components {
	section {
		@apply w-full h-full flex grow justify-between items-start gap-8 bg-F/5 p-4 rounded-xl border-F/25 border-2;
	}
	p,
	b,
	span {
		@apply text-base font-oxanium;
	}
	b {
		@apply font-bold;
	}
}

.card {
	@apply flex flex-col justify-start gap-2;
	.card__header {
		@apply w-full h-12 text-2xl tracking-[.2rem] font-teko font-bold uppercase border-b border-F/25;
	}
	.card__body {
		@apply text-base font-oxanium h-[calc(100%-3rem)] w-full overflow-y-auto overscroll-none scroll-smooth;
	}
}

#bio {
	.bio__image {
		@apply w-1/2 h-auto rounded-lg border-2 border-F/25 grayscale-80;
	}
	.bio__info {
		@apply flex flex-col justify-between w-full h-full;
	}
	.bio__line {
		@apply flex justify-between p-2;
		p {
			@apply text-right;
		}
	}
	.bio__divider {
		@apply border-t-2 border-dotted border-F/25;
	}
}

#skills {
	.skill {
		@apply my-2;
		.skill__label {
		}
		.skill__container {
			@apply w-full bg-F/25 p-1  mask-clip-padding;
		}
		.skill__bar {
			@apply py-2 px-4 text-right opacity-80;
		}
		.skill__percent {
			@apply opacity-100 text-shadow-sm font-bold text-F-50/100;
		}
	}
}
